package tmplts 

templ Home() {
	<main class="w-full flex flex-col items-center text-center">
		<h1 class="text-5xl font-semibold">Welcome to TopFetch!</h1>
		<h2 class="text-lg">Check your current top song from the terminal, the superior computer interface.</h2>
		<a class="px-4 py-4 border-2 font-medium rounded-xl m-4 hover:border-[#1DB954] hover:text-[#1DB954] transition-colors" href={ templ.SafeURL("/sign-in") }>Sign In with Spotify</a>
	</main>
}
